@import 'parts/common'

.category
    .section__title, &__subtitle
        text-align: center
    &__subtitle
        margin-top: 0
    .row
        justify-content: center
.product
    box-sizing: border-box
    width: 30%
    margin: 1%
    // margin-bottom: 1.5%
    cursor: pointer
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
    &:before
        position: absolute
        content: ''
        top: 0
        left: 0
        height: 100%
        width: 100%
        // background-color: transparent
        background-color: rgba(black, 0.1)
        transition: background-color 0.3s
    &:hover:before
        background-color: rgba(black, 0.3)
    &__img
        max-height: 230px
        display: block
        object-fit: contain
        max-width: 85%
        margin: auto
    &__name
        display: block
        font-weight: 700
        margin-bottom: -5px
    &__desc
        padding: 0 15px 25px 22px
        font-size: 0.9rem

@media (max-width: 1199px)
    .product__img
        max-height: 200px
@media (max-width: 991px)
    .product__desc
        padding: 0 10px 20px 15px

@media (max-width: 767px)
    .product
        width: 48%
@media (max-width: 575px)
    .product
        &__desc
            padding: 0 8px 15px 10px
            // font-size: 0.8rem
        &__img
            max-height: 170px
@media (max-width: 479px)
    .product
        // flex: 0 0 100%
        // width: 100%
        &__desc
            // font-size: 0.7rem
        &__img
            max-height: 100px
            max-width: 90%
