@import 'parts/common'

.category
    .section__title
        text-align: center
    .row
        justify-content: center
.product
    box-sizing: border-box
    width: 30%
    margin: 0.7%
    // cursor: pointer
    display: flex
    flex-direction: column
    justify-content: space-between
    position: relative
    &:before
        position: absolute
        content: ''
        top: 0
        left: 0
        height: 100%
        width: 100%
        background-color: rgba(black, 0.1)
        // transition: background-color 0.3s
    // &:hover:before
    //     background-color: rgba(black, 0.3)
    &__img
        max-height: 230px
        display: block
        object-fit: contain
        max-width: 85%
        margin: auto
    &__name
        display: block
        font-weight: 700
        margin-bottom: 10px
    &__desc
        padding: 0 15px 25px 22px
        margin: 0.5rem 0 0

@media (max-width: 1199px)
    .product__img
        max-height: 200px
@media (max-width: 991px)
    .product
        width: 48%
        &__desc
            padding: 0 10px 20px 15px

// @media (max-width: 767px)
//     .product
//         width: 48%
@media (max-width: 575px)
    .product
        &__desc
            padding: 0 8px 15px 10px
        &__img
            max-height: 170px
@media (max-width: 479px)
    .product
        width: 100%
        &__img
            max-width: 90%
