@import 'parts/common'

.gallery
    .section__title
        text-align: center
    .container
        justify-content: space-between
    &__item
        flex: 0 0 32%
        max-width: 32%
        margin-bottom: 1.5%
        cursor: pointer
        height: 300px
        position: relative
        &:before
            position: absolute
            content: ''
            top: 0
            left: 0
            height: 100%
            width: 100%
            background-color: transparent
            transition: background-color 0.3s
        &:hover:before
            background-color: rgba(black, 0.3)
    &__img
        width: 100%
        height: 100%
        object-fit: cover

@media (max-width: 1199px)
    .gallery__item
        height: 250px
@media (max-width: 991px)
    .gallery__item
        flex: 0 0 49.3%
        max-width: 49.3%
        // height: 250px
@media (max-width: 767px)
    .gallery__item
         height: 200px
@media (max-width: 575px)
    .gallery__item
         height: 150px
@media (max-width: 479px)
    .gallery__item
        flex: 0 0 100%
        max-width: 100%
        height: 200px
